.custom-button {
    min-width: 10.5rem;
    height: 3.125rem;
    letter-spacing: 0.5px;
    line-height: 3.125rem;
    padding: 0 2.2rem 0 2.2rem;
    font-family: 'Open Sans Condensed';
    font-size: 1rem;
    font-weight: bolder;
    color: #fff;
    background-color: #000;
    text-transform: uppercase;
    border: none;
    cursor: pointer;

    &:hover {
        background-color: #fff;
        color: #000;
        border: 1px solid #000;
    }
}
