.collection-preview {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    padding: 2rem 5.8rem;

    .title {
        font-size: 1.75rem;
        margin-bottom: 1.65rem;
    }

    .preview {
        display: flex;
        justify-content: space-between;
    }
}
