.cart {
  width: 45px;
  height: 45px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .cartIcon {
    width: 24px;
    height: 24px;
  }

  .cart__ItemCount {
    position: absolute;
    font-size: 0.75rem;
    font-weight: bold;
    bottom: 12px;
  }
}
