.checkout {
  width: 55%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 45px auto;

  .checkoutHeader {
    width: 100%;
    padding: 12px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid darkgrey;

    .checkoutHeader__Block {
      font-size: 1.2rem;
      text-transform: capitalize;
      width: 25%;

      &:last-child {
        width: 5%;
      }
    }
  }

  .chekoutTotal {
    margin-top: 24px;
    margin-left: auto;
    font-size: 2rem;
  }
}
