.collection-preview {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;

  .title {
    font-size: 1.75rem;
    margin-bottom: 24px;
  }

  .preview {
    display: flex;
    justify-content: space-between;
  }
}
