/*=========================== Google Font ==============================*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap');

body {
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 2rem 5rem;
}

a {
    text-decoration: none;
    color: #000;
}
