.custom-button {
  min-width: 152px;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 32px;
  font-family: 'Open Sans Condensed';
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: #000;
  text-transform: uppercase;
  border: none;
  outline: none;
  cursor: pointer;

  &:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
  }
}
